<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><title>hithisense</title><style>html {
            font-size: 100px;
            display: fixed;
        }
        body {
            font-size: 0;
            padding: 0;
            margin: 0;
        }</style><link href=http://localhost:8080/static/css/app.3b759d607c8db577c487cb4903db67b0.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=http://localhost:8080/static/js/manifest.6143e10a8caad18ecefe.js></script><script type=text/javascript src=http://localhost:8080/static/js/vendor.dc5c8e367fbcfd71bdde.js></script><script type=text/javascript src=http://localhost:8080/static/js/app.4088d92644070e302e0c.js></script></body></html>